.footer {
    @apply
        bg-gray_darkest
        h-screen
        w-screen
        text-beige
        font-300
        tracking-tight
        pb-2_22
        flex
        flex-col
        justify-end
    ;

    padding-left: 6rem;
    padding-right: 6rem;
    z-index: 2;

    &Content {
        @apply
            flex
            items-start
            justify-between
            pb-1_67
        ;

        &Contact {
            @apply
                flex
                flex-col
            ;
        }

        &Links {
            @apply
                grid
                grid-cols-2
                gap-x-9_7
                gap-y-4_17
            ;
        }

        &Label {
            svg {
                height: 12.5vw;
                width: 12.5vw;
                transform: rotate(15deg);
            }
        }
    }

    &Footer {
        &Logo {
            svg {
                @apply
                    w-full
                    h-auto
                ;
            }
        }
    
        &Copyright {
            @apply
                flex
                items-center
                justify-between
                text-0_7
                uppercase
                pt-2_22
                mt-3_33
                relative
                uppercase
                font-600
                tracking-normal
            ;
    
            &::before {
                @apply
                    absolute
                    left-0
                    top-0
                    w-full
                    border-t
                    border-beige
                    opacity-10
                ;
    
                content: "";
            }
        }
    }
}