.stepButton {
    @apply
        rounded-round
        bg-red
        text-white
        p-2_5
        absolute
        cursor-pointer
        -translate-x-1/2
        -translate-y-1/2
    ;

    content: "";
    transition: 0.3s ease;
    z-index: 175;

    &1 {
        top: 12.25vw;
        left: 22vw;
    }

    &2 {
        top: 19vw;
        left: 32vw;
    }

    &3 {
        top: 25vw;
        left: 12vw;
    }

    &4 {
        top: 27.65vw;
        left: 37.75vw;
    }

    span {
        @apply
            absolute
            top-1/2
            left-1/2
            -translate-x-1/2
            -translate-y-1/2
        ;
    }

    &:hover, &Active {
        @apply p-3;
    }
}

.stepOverlay {
    @apply
        bg-white
        h-screen
        w-50
        fixed
        top-0
    ;

    z-index: 150;
    left: -55%;
    transition: 0.3s ease;
    padding: 6rem;

    &Active {
        left: 0;
    }

    &CloseArea {
        @apply
            absolute
            right-0
            top-0
            w-full
            h-screen
        ;

        content: "";

        &Active {
            @apply 
                -right-full
            ;
        }
    }

    &Content {
        @apply
            col-span-3
            flex
            flex-col
        ;

        &Title {
            @apply
                text-2_78
                font-molgak
                uppercase
                leading-1_1
                mt-1_67
                mb-1_1
            ;
        }
    
        &Imgs {
            @apply
                mt-3_33
                col-span-4
                grid
                grid-cols-2
                gap-1_1
            ;

            &Img {
                @apply
                    rounded-2
                    relative
                    overflow-hidden
                ;
    
                height: 13.8vw;
            }
        }
    }

    &Footer {
        @apply
            mt-auto
            pt-2_77
            border-t
            border-gray_darkest
            col-span-4
            flex
            items-center
            justify-between
        ;
    }
}