.cart {
    @apply
        bg-white
        h-screen
        fixed
        top-0
        flex
        flex-col
        overflow-y-scroll
    ;

    z-index: 15000;
    right: -55%;
    transition: 0.7s cubic-bezier(.7,-0.01,.31,1);
    padding: 6rem;
    width: 50vw;

    &Icon {
        @apply
            absolute
        ;

        top: 6rem;
        left: 6rem;
    }

    &Opened {
        right: 0;
    }
}