.frame {
    height: 37.5vw;
    width: 33.33vw;
    position: absolute;
    left: 50%;
    top: -9.72vw;
    transform: translateX(-50%);
    z-index: 30;

    &Image {
        height: 100%;
        width: 100%;
    }

    &Pattern {
        @apply bg-gray_darker;

        width: 25vw;
        height: 27.78vw;
        position: absolute;
        left: 50%;
        top: -5.55vw;
        transform: translateX(-50%);
        z-index: 10;

        svg {
            width: 25vw;
            height: 27.78vw;
        }
    }
}

.swiper {
    z-index: 20 !important;
    @apply -translate-x-5_55 overflow-visible;
    width: 110vw !important;
}

.bottles {
    z-index: 20 !important;
    @apply -translate-x-5_55 overflow-visible;
    width: 110vw !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    flex-shrink: 0;
    position: relative;
    
    &Bottle {
        height: 18.75vw !important;
        width: 4.86vw !important;
        min-width: 4.86vw !important;
        margin-right: 20.14vw !important;
        position: relative;
    }
}