.frame {
    height: 54rem;
    width: 48rem;
    position: absolute;
    left: 50%;
    top: -14rem;
    transform: translateX(-50%);
    z-index: 30;

    &Image {
        height: 100%;
        width: 100%;
    }

    &Pattern {
        @apply bg-green_dark;

        width: 36rem;
        height: 40rem;
        position: absolute;
        left: 50%;
        top: -8rem;
        transform: translateX(-50%);
        z-index: 10;

        svg {
            width: 36rem;
            height: 40rem;
        }
    }
}

.swiper {
    z-index: 20 !important;
    padding-left: 7.5rem !important;
}