.displayed {
    @apply
        w-45
        relative
    ;

    height: 42vw;
}

.moonSymbols {
    @apply
        flex
        items-center
        justify-center
        mb-3_33
    ;

    &Icon {
        @apply
            mr-1_67 last:mr-0
        ;

        width: 2.22vw;
        height: 2.22vw;
    }
}

.stepButton {
    @apply
        rounded-round
        bg-beige
        text-red
        p-2_5
        absolute
        cursor-pointer
        -translate-x-1/2
        -translate-y-1/2
    ;

    content: "";
    transition: 0.3s ease;
    z-index: 75;

    &1 {
        top: 12.25vw;
        left: 22vw;
    }

    &2 {
        top: 19vw;
        left: 32vw;
    }

    &3 {
        top: 25vw;
        left: 12vw;
    }

    &4 {
        top: 27.65vw;
        left: 37.75vw;
    }

    span {
        @apply
            absolute
            top-1/2
            left-1/2
            -translate-x-1/2
            -translate-y-1/2
        ;
    }

    &:hover, &Active {
        @apply p-3;
    }
}