.ageConfirm {
    @apply
        h-screen
        w-screen
        bg-red
        fixed
        top-0
        left-0
        text-beige
        text-center
        flex
        flex-col
        items-center
        justify-center
    ;

    z-index: 1000;
    transition: 0.3s ease-in-out;

    &Hidden {
        @apply -translate-y-full;
    }

    &Logo {
        @apply
            absolute
        ;

        left: 6rem;
        top: 4rem;
        width: 10vw;
        height: auto;
    }

    &Content {
        @apply
            flex
            flex-col
            items-center
            justify-center
            relative
            z-30
        ;
    }

    &Infos {
        @apply
            absolute
            left-1/2
            z-30
            -translate-x-1/2
            text-center
        ;

        bottom: 6rem;
    }

    &Pattern {
        @apply
            absolute
            top-1/2
            left-1/2
            -translate-y-1/2
            -translate-x-1/2
            z-20
            opacity-10
        ;
    }
}