.stepsOverlay {
    @apply
        bg-white
        h-screen
        fixed
        top-0
    ;

    z-index: 150;
    left: -55%;
    transition: 0.3s ease;
    padding: 6rem;
    width: 50vw;

    &Active {
        left: 0;
    }

    &Content {
        @apply
            col-span-3
            flex
            flex-col
        ;

        &Title {
            @apply
                text-2_78
                font-molgak
                uppercase
                leading-1_1
                mt-1_67
                mb-1_1
            ;
        }
    
        &Imgs {
            @apply
                mt-3_33
                col-span-4
                grid
                grid-cols-2
                gap-1_1
            ;

            &Img {
                @apply
                    rounded-2
                    relative
                    overflow-hidden
                ;
    
                height: 13.8vw;
            }
        }
    }

    &Footer {
        @apply
            mt-auto
            pt-2_77
            border-t
            border-gray_darkest_faded
            col-span-4
            flex
            items-center
            justify-between
        ;
    }
}