.galery {
    @apply
        bg-beige
        relative
        h-screen
        w-screen
        overflow-hidden
        z-30
    ;

    &__cards {
        display: grid;
        gap: 2.4rem;
        overflow: visible;
        position: absolute;
        height: fit-content !important;
        padding: 6rem;
            
        &__card {
            height: 60rem;
            width: 40rem;
            background: no-repeat center/cover;
        }
    }
}