.galery {
    @apply
        bg-beige
        relative
        h-screen
        w-screen
        overflow-hidden
        z-30
    ;

    &__cards {
        display: grid;
        gap: 12rem;
        overflow: visible;
        position: absolute;
        height: fit-content !important;
        padding: 6rem;
            
        &__card {
            height: 52rem;
            width: 32rem;
            min-height: 60rem;
            min-width: 40rem;
            background: no-repeat center/cover;
            content: "";
            border: 4rem solid white;

            &:nth-of-type(odd) {
                transform: translateY(-3.5rem)
            }

            &:nth-of-type(even) {
                transform: translateY(3.5rem)
            }
        }
    }
}