@tailwind base;
@tailwind components;

@import 'globals/fonts';
@import 'globals/typography';

@import 'sections/hpHero';

@import 'sections/hpHero';

@import 'layouts/galery';

@import 'vendors/swiper';
@import 'vendors/locomotiveScroll';

html {
    font-size: 62.5% !important;
    overflow-x: hidden;
}

html[data-direction="down"] #nav {
    transform: translate3d(0, -125%, 0) !important;
}

html[data-hide-nav="true"] #nav {
    transform: translate3d(0, -125%, 0) !important;
}

body {
    @apply bg-gray font-inter text-gray_darkest text-1;
    overflow-x: hidden;
}

section {
    padding: 0 6rem;
    z-index: 5;
}

.extraPadding {
    padding-left: 6rem;
    padding-right: 6rem;
}

.paddingNone {
    padding: 0;
}

.ticker {
    overflow: visible !important;
}

@tailwind utilities;