@tailwind base;
@tailwind components;

@import 'globals/fonts';
@import 'globals/typography';

@import 'sections/hpHero';

@import 'sections/hpHero';

@import 'layouts/galery';

@import 'vendors/swiper';
@import 'vendors/locomotiveScroll';

html {
    font-size: 62.5% !important;
    overflow-x: hidden;
}

html[data-direction="down"] #nav {
    transform: translate3d(0, -125%, 0) !important;
}

html[data-hide-nav="true"] #nav {
    transform: translate3d(0, -125%, 0) !important;
}

body {
    @apply bg-gray font-inter text-gray_darkest text-1;
    overflow-x: hidden;
}

section {
    padding: 0 6rem;
    z-index: 5;
}

.extraPadding {
    padding-left: 6rem;
    padding-right: 6rem;
}

.paddingNone {
    padding: 0;
}

.ticker {
    overflow: visible !important;
}

.errorImg {
    height: 22.5vw;
    width: 22.5vw;
    margin: 0 1vw;
}

.hpStickyButton {
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    z-index: 1000000;
    z-index: 500;

    @apply
        uppercase
        text-red
        underline
        rounded-full
        bg-beige
        text-0_83
        px-3_33
        py-1_67
        font-600
        block
        cursor-pointer
        overflow-hidden
    ;

    &__img {
        position: absolute;
        left: -5rem;
        width: 15rem;
        height: 8rem;
        bottom: -1.25rem;
    }
}

@tailwind utilities;