.nav {
    @apply
        fixed
        top-0
        left-0
        w-screen
        pt-2_77
        grid
        grid-cols-6
    ;

    z-index: 100;
    transition: 0.3s ease;
    padding-left: 6rem;
    padding-right: 6rem;
    transform: translate3d(0, 0, 0);

    &Logo {
        @apply col-span-1;
        width: 10vw;
        height: 1.67vw;
    }

    &Links {
        @apply
            col-span-4
            flex
            items-center
            justify-center
        ;

        a {
            @apply
                text-0_8
                uppercase
                mr-2_22
                last:mr-0
                leading-1
                font-500
            ;
        }
    }

    &Icons {
        @apply col-span-1;
    }
}