.nav {
    @apply
        fixed
        top-0
        left-0
        w-screen
        py-1_67
        grid
        grid-cols-6
        text-white
    ;
    //pt-2_77

    z-index: 100;
    transition: 0.3s ease;
    padding-left: 6rem;
    padding-right: 6rem;
    transform: translate3d(0, 0, 0);

    &Logo {
        @apply col-span-1;
        width: 9vw;
        height: auto;
        z-index: 30;
        position: relative;
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    &Links {
        @apply
            col-span-4
            flex
            items-center
            justify-center
        ;

        z-index: 30;
        position: relative;

        a, span {
            @apply
                text-0_83
                uppercase
                mr-2_22
                last:mr-0
                leading-1
                font-500
                cursor-pointer
            ;
        }
    }

    &Icons {
        @apply
            col-span-1
            flex
            items-center
            justify-end
        ;

        z-index: 30;
        position: relative;

        &Icon {
            height: 1.67vw;
            width: 1.67vw;
            margin-right: 1.25vw;

            svg {
                height: 1.67vw;
                width: 1.67vw;
                -webkit-filter: grayscale(1) invert(1);
                filter: grayscale(1) invert(1);
            }
        }

        &Cart {
            @apply
                flex
                items-center
                cursor-pointer
            ;

            svg {
                height: 1.67vw;
                width: 1.67vw;
                -webkit-filter: grayscale(1) invert(1);
                filter: grayscale(1) invert(1);
            }

            &Count {
                @apply
                    bg-red
                    text-white
                    rounded-round
                    text-0_83
                    text-center
                ;

                width: 1.25vw;
                height: 1.25vw;
            }
        }
    }

    &Products {
        @apply
            absolute
            w-screen
            bg-white
            left-0
            top-0
            -translate-y-full
            grid
            grid-cols-4
            gap-1_1
            z-10
        ;

        padding-top: 10vw;
        padding-right: 6rem;
        padding-left: 6rem;
        padding-bottom: 5.55vw;
        transition: 0.3s cubic-bezier(.7,-0.01,.31,1);

        &[data-show="true"] {
            @apply -translate-y-0;
        }

        &Card {
            @apply h-full cursor-pointer;

            &Image {
                @apply w-full bg-beige rounded-1 border-beige relative mb-0_8;

                border-width: 2.5vw;
                border-style: solid;
                height: 17vw;
            }
        }
    }
}